* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
header {
  background-image: url("./header-image.jpg");
  background-size: cover;
  height: 25vh;
  background-position: 0 85%;
}
h1 {
  font-size: 5rem;
  text-shadow: 1px 6px 7px #69902c;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}
#number {
  font-weight: bold;
  font-size: 9rem;
  margin: 0;
}
button {
  border: none;
  border-radius: 8px;
  padding: 20px 50px;
  margin: 20px 10px;
  font-size: 1.8rem;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2);
}
